@model Aula1406_Views_Controllers.Models.Categoria

@{
    ViewBag.Title = "Adicionar Categoria";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{

    @*
    @Html.LabelFor(m => Model.Nome)
    @Html.EditorFor(m => Model.Nome)
    @Html.ValidationMessageFor(m => Model.Nome)
    <br/>
    @Html.LabelFor(m => Model.Descricao)
    @Html.EditorFor(m => Model.Descricao)
    @Html.ValidationMessageFor(m => Model.Descricao)
    <br />
    @Html.EditorFor(m => Model.Ativo)
    @Html.LabelFor(m => Model.Ativo)
    <br />
    *@

    @Html.EditorForModel();

    <input type="submit" value="Adicionar" class="btn btn-primary"/>

    


}

